<% if current_user.store %>
<li class='text_box'>Current Store: <%= current_user.store.name %>, <%= current_user.store.address %></li>
<% end %>
<div class='text_box list_display'>
<% @items.each_with_index do |item, index| %>
  <% if @aisles[index] == nil %>
    <% item_location = '__' %>
  <% else %>
  <% item_location = @aisles[index] %>
  <% end %>
  <input type='number' class='aisle_entry' placeholder='aisle' data-item-id='<%= item.id %>' max='99', min='1'>
  <p class='list_line'>_<%= item_location %>_ <%= item.name %></p>
<br>
<% end %>
<button type='button' id='update-aisles' data-store-id='<%= @store.id %>'>Update aisles</button >

</div>
<input type='hidden' value='<%= @store.id %>' id='store_id_field'>
<input type='hidden' value='<%= api_v1_store_path (@store) %>' id='store_route'>
<input type='hidden' value='<%= @list.id %>' id='list_id_field'>
