<h1 class='text_box'>Edit page for <%= @recipe.name %></h1>
<div class='text_box'>
<%= form_for(@recipe) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
  <%= f.label :servings %><br />
    <%= f.number_field :servings %>
  </div>

  <div class="field">
  <%= f.label :duration, "Duration (in minutes)" %><br />
    <%= f.number_field :duration %>
  </div>

  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_field :directions %>
  </div>

  <%= f.hidden_field :ingredients, value: @ingredients %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
</div>
<div class='text_box'>
<%= text_field_tag :ingredient_name %>
<%= text_field_tag :ingredient_quantity %>
<button type="button" class='add-ingredient' data-name="<%= @recipe.name %>">Add ingredient</button >
<!-- <%= link_to "add ingredient", api_v1_recipe_path, class: 'add-ingredient', method: :put, remote: true %> -->
<!-- <%= form_for @recipe, remote: true, :html => { :id => "add-ingredient" } do |f|     %>
  <%= f.text_field  :new_ingredient           %>
  <%= f.text_field  :new_ingredient_quantity  %>
  <%= f.submit                                %>
<% end %> -->
<h3>Ingredients:</h3>
<ul id='ingredients-list'>
</ul>
</div>
