<div class='text_box'>
<h1><%= @recipe.name %></h1>
<h3>By: <%= @recipe.user.username %></h3>
<h4>Servings: <%= @recipe.servings %> / Duration: <%= @recipe.duration %> min</h4>
</div>
<div class='text_box'>
<% if current_user == @recipe.user %>
  <%= link_to 'Edit this recipe', edit_recipe_path(@recipe) %>
<% end %>

<div id='favorite-icon'>
<% if user_signed_in? %>
  <% if @recipe.favorite_of(current_user) %>
    <%=image_tag('heart-filled.png', id: 'unfavorite_button', class: 'heart', data: { recipe_id: @recipe.id, action: 'unfavorite', address: api_v1_recipe_path(@recipe) })%>
  <% else %>
    <%=image_tag('heart-blank.png', id: 'favorite_button', class: 'heart', data: { recipe_id: @recipe.id, action: 'favorite', address: api_v1_recipe_path(@recipe)  })%>
  <% end %>
<% end %>
</div>

<div class='half_screen_block'>
  <h2>Ingredients:</h2>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
    <% item = Item.find(ingredient.item.id) %>
      <li><%= item.name %>, <%= ingredient.quantity %></li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <% if @current_user.store.nil? %>
      <%= link_to 'Set home store to create lists', user_path(current_user.id) %>
    <% else %>

    <button type='button' class='add-recipe-to-list' data-action='add-recipe' data-list-id='<%= @current_list.id %>' data-recipe-id='<%= @recipe.id %>'>Add ingredients to list</button>
    <input type='hidden' value='<%= api_v1_list_path (@current_list) %>' id='list_route'>
    <% end %>
  <% end %>
</div>
<div class='half_screen_block recipe_directions_block'>
  <h2>Directions:</h2>
  <p><%= simple_format(@recipe.directions) %></p>
</div>
</div>
