<div class='text_box'>
<h1><%= @recipe.name %></h1>
<h3>By: <%= @recipe.user.username %></h3>
<h4>Servings: <%= @recipe.servings %> / Duration: <%= @recipe.duration %> min</h4>
</div>
<div class='text_box'>
<% if current_user == @recipe.user %>
<%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
<% end %>
<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <% item = Item.find(ingredient.item.id) %>
    <li><%= item.name %>, <%= ingredient.quantity %></li>
  <% end %>
</ul>
<h2>Directions:</h2>
<p><%= @recipe.directions %></p>
</div>
