<div class="text_box">
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<%= link_to "Change Password/Email", edit_user_registration_path(@user) %>
<% if @user.store %>
  <p>Home Store: <%= @user.store.name %>, <%= @user.store.address %></p>
<% else %>
  <%= link_to "Select Home Store", stores_path %>
<% end %>
<h3>Recipes created:</h3>
<ul>
  <% if @created_recipes != [] %>
    <% @created_recipes.each do |recipe| %>
      <li><a href="<%= recipe_path(recipe) %>"><%= recipe.name %></a></li>
    <% end %>
  <% else %>
    <li> None yet...
  <% end %>
</ul>
</div>
