
<div id='logo'>
  <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Emojione_1F95E.svg/480px-Emojione_1F95E.svg.png' alt='Prepr'>
  <p id='title'>
    Prepr
  </p>
</div>
<br>
<div class="text_box">
<a class="nav-link" href=<%= items_path %>>List of all items</a>
<a class="nav-link" href=<%= recipes_path %>>List of all recipes</a>
<a class="nav-link" href=<%= new_recipe_path %>>Add new recipe</a>
<a class="nav-link" href=<%= new_list_path %>>Add new list</a>
<a class="nav-link" href=<%= lists_path %>>Previous Lists</a>
</div>

<div class="top_recipe_block">
  <p>Most Recent Recipes:</p>
  <hr>
  <% @recent_recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe) %>">
        <img src="<%= recipe.image %>" class="recipe_icon" onerror="this.onerror=null;this.src='http://localhost:3000/assets/default.png';">

  </a>

    <a href="<%= recipe_path(recipe)%>"><p class="top_recipe_listing"><%= recipe.name %></p></a>
    <p class="top_recipe_listing">by: <%= recipe.user.username %></p>
    <br>
  <% end %>
</div>

<div class="top_recipe_block">
  <p>Most Favorited Recipes:</p>
  <hr>
  <% @top_recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe[0]) %>">
        <img src="<%= recipe[0].image %>" class="recipe_icon" onerror="this.onerror=null;this.src='http://localhost:3000/assets/default.png';">

  </a>

    <a href="<%= recipe_path(recipe[0])%>"><p class="top_recipe_listing"><%= recipe[0].name %></p></a>
    <p class="top_recipe_listing">Favorites: <%= recipe[1] %></p>
    <br>
  <% end %>
</div>
