<!DOCTYPE html>
<html>
  <head>
    <title>Prepr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
  </head>

  <body>
    <div class='top_bar'>
      <div class='top_bar_right'>
        <p class='nav_link recipe_button'>Recipes</p>
      </div>
      <a class='nav_link' href='<%= root_path %>'>Prepr</a>

      <div class="top_bar_left">

        <div class="account_button">
          <%=image_tag('user-icon.png', id: 'account_dropdown', class: 'dropdown_arrow')%>
        </div>

        <div class="current_list_button">
        <%=image_tag('menu-icon.png', id: 'list_dropdown', class: 'dropdown_arrow')%>

        </div>

      </div>
    </div>
    <div id="dropdown_space">

      <div id="account_overlay" class="hide">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete,  :class => "nav_link" %>
          <a class='nav_link' href='<%= user_path(current_user.id) %>'>My Account</a>

        <% else %>
          <%= link_to 'Sign In', new_user_session_path, :class => "nav_link"  %>
          <%= link_to 'Sign Up', new_user_registration_path, :class => "nav_link"  %>
        <% end %>
      </div>

      <div id='list_overlay' class='hide'>
        <% if user_signed_in? && @current_list != nil %>
          <% if @current_user.store.nil? %>
            <%= link_to 'Set home store to create lists', user_path(current_user.id) %>
          <% else %>
            <input type='hidden' value='<%= api_v1_list_path (@current_list) %>' id='list_route'>
            <input type='text' name='item_quantity' id='item_quantity' placeholder='New Item Quantity'>
            <input type='text' name='item_name' id='item_name' placeholder='New Item Name'>
            <button type='button' class='add_item' data-action='add_item' data-list-id='<%= @current_list.id %>'>Add Individual Item</button>
            <div class='list_display'>

              <% if @current_list.items[0] != nil %>
                <ul id='line_items' class='unmarked_list'>

                  <% @current_list.get_list_items(current_user).each do |listing| %>
                    <% if listing[1] %>
                      <% item_location = listing[1] %>
                    <% else %>
                      <% item_location = '__' %>
                    <% end %>
                    <li><%=image_tag('xsmall.jpg', class: 'delete_img', data: { item_id: listing[0].id, list_id: @current_list.id })%>_<div class='item_aisle'><%= item_location %></div>_ <div class='item_listing'><%= listing[2] %> <%= listing[0].name %></div></li>
                  <% end %>
                </ul>
              <% else %>
                <ul id='line_items' class='unmarked_list'>
                  <li>Nothing yet...</li>
                </ul>
            <% end %>
            <%= link_to 'Update aisles', list_path(@current_list) %>
            <br>
            <br>
          </div>
          <button type='button' id='sort_list'>Sort List By aisle</button>
          <button type='button' id='new_list' data-address='<%= new_api_v1_list_path %>'>New List</button>

          <% end %>
        <% elsif user_signed_in? == false %>
          <p>Sign in to create lists</p>
        <% end %>
      </div>

      <div id='recipe_overlay' class='hide'>
        <a class='nav_link' href=<%= recipes_path %>>List of all recipes</a>
        <a class='nav_link' href=<%= new_recipe_path %>>Add new recipe</a>
      </div>

    </div>
    <!--  need to make this display on rollover -->
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <%= javascript_include_tag 'application'%>
  </body>
</html>
